body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: #d4f1f4;
}

a {
  text-decoration: none;
  color: #05445e;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
  color: #05445e;
}

form div {
  margin: 1em;
  display: inline-block;
}

.title {
  text-align: center;
  color: #05445e;
}
.nav {
  background-color: #75e6da;
  border-radius: 10px;
}

#formFormat {
  width: 30%;
  margin-top: 50px;
  padding-top: 50px;
  margin: auto;
}
.row {
  width: 100%;
  display: block;
}
.column {
  width: 100%;
  display: inline-block;
}
.labels {
  width: 38%;
  float: left;
  text-align: right;
  color: #05445e;
}
.inputs {
  width: 50%;
  float: right;
}
.products {
  display: inline;
}
h1 {
  justify-content: center;
  text-align: center;
  color: #05445e;
}
h2 {
  display: inline-block;
  text-align: center;
  justify-content: center;
  width: 210px;
  color: 189ab4;
}
.allP {
  display: flex;
  justify-content: space-evenly;
}
.vote {
  display: inline;
  align-content: center;
}
.image {
  border-radius: 25px;
}
.visually-hidden {
  text-align: center;
  justify-content: center;
}
.navoptions {
  text-align: center;
  justify-content: space-evenly;
}

.review1 {
  justify-content: center;
  text-align: center;
  margin: auto;
  padding: 20px;
}
.review2 {
  justify-content: center;
  text-align: center;
  margin: auto;
  padding: 20px;
}
.review3 {
  justify-content: center;
  text-align: center;
  padding: 20px;
}
.missionStatement{
  border: double;
  border-radius: 5px;
  border-color: #05445E;
  padding: 10px;
}
.journeyStatement{
  border: double;
  border-radius: 5px;
  border-color: #05445E;
  padding: 10px;
  margin-top: 10px;
}
.mapCenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}